@import '@/assets/scss/_variables';

.month-card {
    position: relative;
    background: $card_white;
    border-radius: $fs-12;
    padding: 18px;
    cursor: pointer;

    .report {
        width: 100%;
        height: auto;
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        .report-item-number {
            margin: 0 auto;
            font-size: $fs-24;
            font-weight: 900;
            span {
                font-size: $fs-48;
                line-height: $fs-48;
            }
        }
    }
}
