// base color
$bg_color: #129797;
$bg_color_top: #21a1a0;
$card_color: #69c8be;
$menu_color_1: #fffbf97b;
$menu_color_2: #9f9f9f;
$table_color: #fafafa;
$scroll_bar: #e3e3e3;
$iii_color: #365899;
$iii_color_2: #386ac7;
$iii_name: #173265;
$text: #2a3c54;
$text_opacity: #6f7883;
$black: #262626;
$line: #e7eaed;
$normal: #39b54a;
$normal2: #abffb6;
$failed: #ff0000;
$failed2: #ffc5c5;
$na: #a5a5a5;
$na2: #d6d6d6;
$svg_icon: #ff6700;
$lang_list: #29276a1b;
$lang_list_hover: #29276a12;

$--white: #ffffff;
$--greyLight-2: #c8d0e7;

$primary-color: #feebe1;
$secondary-color: #fffbf9;
$third-color: #f8f8f8;
$blue-light: #9193b4;
$blue-dark: #20234d;
$white: #fff;
$card_white: #f8f8f9;
$green: #20a2a0;
$green_light: #30c0be81;
$danger: #fc3a3a;
$dangerborder: #ffbfbf;
$warning: #ff9d0b;
$warningborder: #ffe1bc;
$safe: #17d573;
$safeborder: #bbff87;
$light-green: #e9f6f6;

$btn-main-color: #21a1a0;
$btn-main-color-hover: #26bbbb;
$btn-cancel-color: rgba(#21a1a0, 0.1);
$btn-cancel-color-hover: rgba(#21a1a0, 0.2);
$btn-disable: #f5f7fa;

$header-height: 6.25rem;
$footer-height: 4.25rem;

$header-height-rwd: 3.125rem;
$footer-height-rwd: 8rem;

$el-input-height: 50px;

// 限縮網頁內容
$basic-padding: 2rem;

$fs-12: 0.75rem;
$fs-14: 0.875rem;
$fs-16: 1rem;
$fs-18: 1.125rem;
$fs-20: 1.25rem;
$fs-22: 1.375rem;
$fs-24: 1.5rem;
$fs-26: 1.625rem;
$fs-28: 1.75rem;
$fs-30: 1.875rem;
$fs-32: 2rem;
$fs-36: 2.25rem;
$fs-40: 2.5rem;
$fs-48: 3rem;
$fs-56: 3.5rem;
$fs-64: 4rem;
